*{
  font-family: geo;
}
h1{
  text-align: center;
  color: brown;
}
.calc{
  border: 3px solid black;
  padding: 15px;
  margin: 0 auto;
  width: fit-content;
}
#shown{
  margin: 
  width: 700px;
  height: 70px;
  font-size: 50px;
}
.figures{
  text-align: center;
  border: none;
}
tr,td{
  width: fit-content;
  display: inline-block;
}
button{
  display: inline-block;
  width: 80px;
  height: 64px;
  margin: 12px;
  border: 1px solid black;
  border-radius: 24px;
  font-size: 20px;
  color: black;
  background-color: gray;
  text-align: center;
}
